<div class="post-form">
  <h3>Add Comment</h3>
  <%= render partial: 'shared/nav_link' %>
<%= form_with(model: @comment, url: user_post_comments_url(@post.author, @post), local: true) do |form| %>

<div class="form-group">
      <%= form.label :text, class: 'form-label' %>
      <%= form.text_area :text, class: 'form-control', name: 'comment[text]' %>
    </div>
  <%= form.submit 'Create Comment' %>
<% end %>
</div>