<h1>Users Post list</h1>

<main id="posts" class="page">
   <div id="user-page">
    <div class="btn-container">
      <div class="home-link-container ">
      <%= link_to "Home", root_path, class: "home-link2" %>
      </div>
      <div class="back-link-container ">
        <%= link_to "Back", :back, class: "back-link2" %> 
      </div> 
    </div>
  </div>

    <div class=" user-item">
       <div class="user-image">
 <%= image_tag('user.png', width: "150px", height: "100px") %>
 </div>
 <div class="user-details">
      <h2> <%= link_to @user.name, user_path(@user) %></h2>
      <p class="user-posts-counter">Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
    
  <article class="post-article">
    <div class ="post_div" >
    <% if @user.posts.empty? %>
      <p>No posts added yet.</p>
    <% else %>
      <% @user.posts.each do |post| %>
        <div class="post-container post">
          <h3 class="post-title"><%= link_to post.title, "posts/#{post.id}" %></h3>
          <div class="post-details">
            <p class="details"><%= truncate(post.text, length: 100) %></p>
          </div>
          <div class="comment-like-container post-meta">
            <p class="coment-likes-data ">
              Comment: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %>
            </p>
          </div>
        </div>
        </div>

         <ul class="post-comments-container post">
          <% post.new_comments.each do |comment| %>
            <li>
              <p><%= link_to User.find_by(id: comment.user_id).name, user_path(comment.user_id) %>: <%= truncate(comment.text, length: 60) %>...</p>
            </li>
          <% end %>
          <% if post.new_comments.empty? %>
            <li>No comments added yet.</li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </article>
</main>
