<h1>Show a specific User Post</h1>

<section id = "user-post" class="user-post">
<%= render partial: 'shared/nav_link' %>

  <div class="post user_post">
    <div class="post-header">
    
      <h2>
        Post
        by <%= @user.name %>
      </h2>
      <h4>
        Comments: <%= @post.comments_counter %>,
        Likes: <%= @post.likes_counter %>
      </h4>
    </div>
    <h3><%= @post.title %></h3>
    <p><%= @post.text %></p>
  </div>
    <br>
<div class=" user-item">
       <%= render partial: 'shared/add_comment', locals: { user: @user, show_link: false  } %>
    </div>

  <div class="create-like-Comment see-all-posts">
  <%= button_to "Like Post",  user_post_likes_url(user_id: current_user.id, post_id: @post.id),method: :post, class: "create-like-link see-link"%> 
  </div>
  
<% if @post.comments_counter > 0 %>
  <div class="comments post">
    <% @comments.each do |comment| %>
      <li><%= comment.user.name %>:
      <%= comment.text %></li>
    <% end %>
    
</div> 
  </div>
<%end%>
</section>
